[submodule "subprojects/turbovnc"]
	path = subprojects/turbovnc
	url = https://github.com/TurboVNC/turbovnc
[submodule "subprojects/libjpeg-turbo"]
	path = subprojects/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
